@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    font-family: "Robot", sans-serif;
    font-style: normal;
    font-weight: 400;

}

body{
    height: 100vh;
    background: url("~/assets/Bg.png") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}