.btn-vermelhor{
    width: 100%;
    height: 60px;
    margin: 25px 0 0;
    border-radius: 10px;
    border: 0;
    background-color: $vermelho;
    color: $branco;
    font-size: 18px;
    cursor: pointer;

    &:disabled{
        cursor: no-drop;
        background: darken($vermelho, 20%);
    }
}